<h1>Sign in</h1>
<%= form_tag create_session_path do %>
<ul class="title_data small">
	<li>
	  <%= label_tag "email" %>
	  <%= text_field_tag :email, params[:email], :autofocus => true %>	
	</li>
	<li>
	  <%= label_tag "password" %>
	  <%= password_field_tag :password %>
	</li>
</ul>
	<%= link_to "Create account", :controller => "users", :action => "new" %>
	<%= submit_tag "Sign in" %>
<% end %>

