<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
	
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<ul class="title_data">
		<li>
		    <%= f.label :email %>
		    <%= f.text_field :email, :autofocus => true %>	
		</li>
		<li>
		    <%= f.label :password %>
		    <%= f.password_field :password %>
		</li>
		<li>
		    <%= f.label :password_confirmation, "Password again" %>
		    <%= f.password_field :password_confirmation %>
		</li>
		<li>
		    <%= f.label :institution %>
		    <%= f.text_field :institution %>
		</li>
	</ul>
	<%= f.submit "Create Account!" %>
<% end %>
