<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
<!-- CHANGE= -->
  <%= javascript_include_tag "graph", "http://192.168.1.202:9292/faye.js" %>
  <!-- loads additional styles specified in manifest.json -->
<script>
	var event_id = <%= @event.id %>
	var poll_id = <%= params[:poll_id] %>
</script>
<%= csrf_meta_tags %>
</head>
<body class="graph">

	<div class="graph_menu current_poll">
		This poll is <span class="poll_status"><%= @event.polls.last.id.to_s == params[:poll_id] ? "CURRENT" : "ARCHIVED" %></span>
		<% if @event.polls.last.id.to_s == params[:poll_id] %>
			<hr/>
			Recieve votes <%= check_box_tag "receives_votes", nil, @poll.receives_votes %><hr/>
			Allow multiple votes <%= check_box_tag "allow_multiple", nil, @poll.multiple %><hr/>
			Show results <%= check_box_tag "show_results", nil, true %><hr/>
			Animate results <%= check_box_tag "animate_results", nil, @poll.animation %>
		<% end %>
		<hr/>
		<%= link_to "back", event_path(@event) %>
	</div>


	<div class="graph_menu new_poll">
		New poll:	<%= link_to "2", event_polls_path(@event, :options => 2), :method => :post %>
					<%= link_to "3", event_polls_path(@event, :options => 3), :method => :post %>
					<%= link_to "4", event_polls_path(@event, :options => 4), :method => :post %>
	</div>
	
	<canvas id="canvas" style="border:0px solid black"></canvas>
	
	
	
	
	

	<script type="text/javascript" charset="utf-8">
	
		<% if @responses %>
			data = [
				<% @responses.each do |r| %>
					{value: "<%= r.value.downcase %>", id: "<%= r.identifier %>"} <%= "," if r != @responses.last %>
				<% end %>
			]
		<% else %>
			data = []
		<% end %>
		
		<%= "animation = false;" if @poll.animation == false %>
		
		
		$(function(){
			//========== Set vars
			colors = {	"a": "<%= @event.options[:color_a] || "#aaaaaa" %>",
			 			"b": "<%= @event.options[:color_b] || "#123456" %>",
						"c": "<%= @event.options[:color_c] || "#81A18A" %>",
						"d": "<%= @event.options[:color_d] || "#A19191" %>" }
			
			
			
			start_histogram(document.getElementById("canvas"),data)			
		})

	</script>

</body>
</html>